/* Multi-CAST */

.imdi-resource-content[class*=Multi-CAST] #annotations {
	display: none;
}

/* Header */

.navbar .container {
	margin-top: 25px;
	margin-bottom: 25px;
}

.navbar-nav > li.menu-item > a {
	font-size: 14px;
}

.lac-topbar {
	float: right;
	margin-top: 1em;
	text-transform: uppercase;
	font-size: 12px;
}

.lac-topbar a {
	color: #999;	
}

.lac-topbar * {
	display: inline;
}

.lac-topbar-divider {
	padding-left: 1em;
	padding-right: 1em;
	display: none;
}

ul.qtranxs_language_chooser {
	list-style: none;
	padding-left: 0;
	display: none;
}

ul.qtranxs_language_chooser li {
	padding-right: 1em;
}

.qtranxs_language_chooser .active {
    font-weight: bold;
}

.qtranxs-lang-menu {
		display: inherit;
}

@media (min-width: 768px) {
	.qtranxs_language_chooser, .lac-topbar-divider {
		display: inline !important;
	}

	.qtranxs-lang-menu {
		display: none !important;
	}
}

/* Footer */

footer img {
	height: 80px;
	margin-bottom: 2em;
}

footer ul.dch {
	float: right;
}


footer ul, footer li {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer li  {
	float: left;
	clear: none;
	margin-right: 1em;
}

#footer-area .copyright ul li {
    border-bottom: none;
}


/* Content */

.breadcrumbs {
    margin-bottom: 1em;
    font-size: 12px;
}

.single-featured-caption {
  font-size:0.82em;
  font-style:italic;
}
.single-featured:hover {
  opacity: 1;
}

.post-inner-content {
	border: none;
	background-color: inherit;
	padding-left: 0;
}

.post-inner-content:first-child {
	border-top: none;
}

.entry-content blockquote {
  font-size:14px;
}
.entry-content h4 {
  margin-top:40px;
}
.entry-content ul {
  padding-left:1.5em;
}

/* Widgets & Aside */

.well {
  background-color: #fff;
  padding: 30px;
  overflow: hidden;
  clear: both;
  border:0 none;
  box-shadow: none;
  border-radius: 0;
}

#secondary .widget {
  margin-bottom: 20px;
}

.widget ul li:last-child {
  border-bottom:0 none;
}

#secondary .widget a {
  color: #999;
}
#secondary .widget a:hover {
  color:#444;
}

/* Projects overview */

.projects {
	list-style: none;
	padding-left: 0;
}

.projects li {
	padding-bottom: 1em;
}

/* Team page */

img.team {
	margin-top: 1.5em;
}

/* IMDI search plugin */

#main div.imdi_session {
	padding-left: 0;
	padding-right: 0;
	padding-top: 2em;
}
#main div.imdi_session.res_only {
  padding-top:0;
}

div.imdi_details h2 {
	font-size: 1.5em;
}

div.imdi_details p{
		font-family: 'Open Sans', Arial, sans-serif !important;

}

.search-results {
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	padding-bottom: 1em !important;
	margin-bottom: 0.5em !important;
	
}

.imdi-category-tabs li {
	font-weight: normal;
}

.imdi_detailtabs .ui-widget-header { 
	border-bottom: 1px solid #aaaaaa !important; 
}

.imdi_detailtabs .ui-widget-header li a span { 
	position: relative;
	top: 5px; 
}

#categories b {
	font-size: 1.5em;
	font-weight: bold;
	color: grey;
	padding-right: 2em;
	text-transform: uppercase;

}

#categories ul {
	padding-left: 1em;
	padding-top: 2em;
	/*padding-bottom: 2em;	*/
	margin-bottom: 0 !important;
	font-size: 1em;
	font-weight: bold;
}

.imdi-category-tabs .ui-tabs-panel {
	padding-bottom: 3em !important;
}

#categories .ui-widget-content a {
	color: white;
}

#results {
	/*font-weight: bold;*/
	margin-bottom: 0;
}

#imdi-archive-search-plugin-query .imdi-category-tabs .ui-tabs-panel{
  padding-left:0.2em;
  padding-right:0.2em;
}

#imdi-archive-search-plugin-query #categories ul {
  margin:0;
  padding-left:0.2em;
}

.imdi_details li.resource {
  float:left;
  width:100%;
}
